<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="box">
        {{each msgs}}
        <ul>
            <li> {{$value.username}}</li>
            <li>{{$value.content}}</li>
        </ul>
        {{/each}}
    </div>
    {{username}} 您好 请说话：
    <input type="text" name="newContent" id="newContent">
    <button id="btn">发送</button>
</body>

<script src="/socket.io/socket.io.js"></script>
<script>
    // socket.io-client     socket.io 客户端
    var socket = io('http://localhost:5555'); //地址
    socket.on('connect', function () {
        console.log('连接上了');
        // 登录  同步前后端信息
        socket.emit('login', {
            id: {{id}}//后端渲染代码出来的   ｛｛｝｝是嵌套的对象或程序段
        });
    });
    //   代表服务器那边的emit('msg1，data')
    socket.on('msg1', function (data) {
        console.log(data)
    });
    socket.on('disconnect', function () {
        console.log('断开连接了');
    });
    document.getElementById('btn').onclick = function () {
        var newContent = document.getElementById('newContent').value;
        socket.emit('sendMsg', {
            newContent: newContent
        });
    }
    socket.on('allmessage', function (data) {
        console.log(data);
    })
</script>

</html>