<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    我是英雄列表
    <ul>
        {{each heros}}
        <li>
            {{$value.nickname}}
            <img src="{{$value.img}}" alt="">
        </li>
        {{/each}}
    </ul>
    <!-- 同步表单上传文件的时候，表单，一定要加上enctype="multipart/form-data" -->
    <form action="/add" method="post" enctype="multipart/form-data">
        网名：<input type="text" name="nickname">
        头像：<input type="file" name="avater">
        <button>添加</button>
    </form>



</body>

</html>